<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="/">E-learning platform</a>
        <% if(!locals.session.user) { %>
        <a class="btn btn-outline-primary btn-lg" href="/register">Sign Up</a>
        <a class="btn btn-outline-success btn-lg" href="/login">Sign In</a>
        <% } else { %>
        <a class="btn btn-outline-primary btn-lg" href="/panel">User Panel</a>
        <a class="btn btn-outline-primary btn-lg" href="/courses">Courses</a>
        <a class="btn btn-outline-primary btn-lg" href="/api/logout">Logout</a>
        <% } %>
    </div>
</nav>