<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="#!">E-learning platform</a>
        <a class="btn btn-outline-primary btn-lg" href="/register">Sign Up</a>
        <a class="btn btn-outline-success btn-lg" href="/login">Sign In</a>
    </div>
</nav>