<nav class="navbar navbar-expand-lg navbar-light bg-light sticky">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">E-learning platform</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/browse">All Courses<span class="material-symbols-outlined"> dataset </span></a>
                </li>
                <% if(!locals.session.user) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Sign Up<span class="material-symbols-outlined"> login </span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Sign In<span class="material-symbols-outlined"> login </span></a>
                </li>
                <% } else { %>
                <li class="nav-item">
                    <a class="nav-link" href="/panel">User Panel<span class="material-symbols-outlined"> account_circle </span></a>
                </li>
                <% if(locals.session.user.admin) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin Panel<span class="material-symbols-outlined"> admin_panel_settings </span></a>
                </li>
                <% } %>
                <li class="nav-item">
                    <a class="nav-link" href="/courses">Your Courses<span class="material-symbols-outlined"> golf_course </span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/logout">Logout<span class="material-symbols-outlined"> logout </span></a>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>

<style>
    .navbar-brand{
        font-size:25px;
    }
    
    .navbar-brand:hover{
        font-weight: bold;
    }
nav li{
    margin: 45px;
    font-size: 20px;
    font-weight: bold;
}
nav li:hover{
    background-color: rgb(211, 228, 253);
    border-radius: 20px;
}

</style>
