.material-symbols-outlined {
    font-size: 20px;
    display: inline-block;
    line-height: 20px;
    text-align: left;
    position: relative;
    left: 3px;
    top: 5px;
}

footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

nav {
    user-select: none;
}
